@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

body {
  font-family: aileronlight,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.remark-slide-content {
    color: white;
    background-color: #3366ff;
}

.remark-container {
}

.remark-slide-content {
  font-size: 27px;
}

.remark-slide-scaler {
  box-shadow: none;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
}

a, h1 {
  color: white;
}

h1 {
  font-size: 48px !important;
}

.remark-code-line:empty {display: none;}

img[alt=small-image] {
    height: 50%;
    width: 50%;
}

img[alt=medium-image] {
    height: 75%;
    width: 75%;
}