@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@page {
  size: 1024px 768px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.sininen {
   color: #FFFFFF;
   background-color: #003479;
   font-size: x-large;
}

.sininen-palkki {
   background: linear-gradient(to bottom, #003479, #003479 6em, #FFFFFF 6em);
   color: #282828;
   font-size: x-large;
}

.sininen-palkki>h1 {
   color: #FFFFFF;
}

.valkoinen {
   color: #282828;
   background-color: #FFFFFF;
   font-size: x-large;
}

li {
   margin-bottom: 0.5em;
}

ul {
   margin-top: 0.5em;
}

body {
   font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

a {
   color: lightblue;
   font-family: 'Source Sans Pro', sans-serif;
}

.remark-code, .remark-inline-code { font-family: 'Source Sans Pro', sans-serif; }

.footnote {
    font-size: 50%;
}

body img {
    max-width: 100%;
}

.remark-slide-number {
    bottom: 5%;
    right: 5%;
    position: absolute;
}

.remark-slide-content, .remark-container { }

.remark-slide-scaler {
    box-shadow: none;
}

.remark-code-line:empty {display: none;}

table {
   border-collapse: collapse;
}

table, th, td {
    border: 1px solid #282828;
}

th, td {
   padding: 0.5em;
}

thead {
   background-color: lightgrey;
}

/* HERE ARE IMAGE RULES*/
img[alt=logo] {
   height: 10%;
   position: absolute;
   top: -1px;
   left: -1px;
   border: none;
}

img[alt=lipaportit-left] {
   position: absolute;
   bottom: 0%;
   left: 0%;
   max-width: 49%;
}

img[alt=lipaportit-right] {
   position: absolute;
   bottom: 0%;
   right: 0%;
   max-width: 55%;
}

img[alt=full-pic] {
    height: auto;
    width: auto;
    position: relative;
    top: -25px;
    max-width: 70%;
}

img[alt=fuller-pic] {
    height: auto;
    width: auto;
    position: relative;
    top: -25px;
    max-width: 95%;
}

img[alt=borderless-pic] {
    border: none;
}
