body {
  background-color: #003479;
  color: #FFFFFF;
}
h1 {
  color: #FFFFFF;
  margin: 80px 0;
}
h2 {
  color: #FFFFFF;
  font-size: 20px;
}
.footer {
  opacity: 0.5;
  margin-top: 120px;
  color: #FFFFFF;
}
a:link {color:#f07e14;}
a:visited {color:#f07e14;}
a:hover {color:#f69e34;}
a:active {color:#f69e34;}
